body {
    background-color: rgb(0, 0, 0);
    display: flex;
    /*flex-direction: column ;*/
    flex-wrap: wrap;
}

.card {
    width: 250px;
    padding: 20px;
    border: solid 1px rgb(8, 218, 255);
    border-radius: 8px;/*arrendondar a borda das fts*/
    margin: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    
    
}

.card:hover {
    box-shadow: 2px 2px 10px #8ffffb;
    transform: scale(1.1);
    transition: ease-in 150ms;
    border: solid 1px rgb(203, 247, 255);
    filter: opacity(1);
}

.foto {
    width: 240px;
    /*largura das capas*/
    height: 240px;
    /*largura das capas*/
    object-fit: contain;
    filter: blur(3px);

}
.card:hover .foto{
    filter: grayscale(0);
}

.nome {
    color:blue rgb(red, green, blue);
    font-size: 20px;
    font-weight: 900;
}

.idade {
    color: #efefef;
}

.cidade {
    font-size: 12px;
}